body {
  padding: 0px;
  font-family: poppins;
  margin: 0;
  max-width: 800px;
  margin: 0 auto;
}

.body-tampilan-utama{
  background-image: url("img/1\ Halaman\ -\ Buku\ Menu\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}

.container{
    background-color: #1E1E1E;
    min-height: 100%;
}

.p-500{
  padding-bottom: 500px;
}

a, h1, h2, h3, h4, h5, span{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
}

i{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
  font-size: 48px;
}

.meja p{
  font-size: 48px;
  margin: 0px;
}

.navbar-brand{
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

.navbar-brand:hover{
  color: #FFFFFF;
  text-decoration: none;
}

.nav-link{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
}

.btn-back{
  background-color: #F0A500;
  border-radius: 15px;
}

.meja{
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 20px;
}

.bx-history{
  color: #1E1E1E;
  text-decoration: none;
  font-weight: normal;
  font-size: 48px;
  margin-right: 15px;
}

.imgbanner{
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.cat-card{
    background-color: #DCDCDC;
    border-radius: 24px;
    border: none;
    transition: 0.3s all;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 11px;
}

.cat-card:hover{
    background-color: #F0A500;
    cursor: pointer;
    transition: 0.3s all;
    text-decoration: none;
}

.cat-card p{
    font-size: 20px;
    color: #000;
    font-weight: 700;
    margin-bottom: 0px;
}

.cat-card.active{
    background-color: #F0A500;
    cursor: pointer;
    transition: 0.3s all;
    text-decoration: none;
}

.menu-card{
    background-color: #DCDCDC;
    border-radius: 10px;
    border: none;
    transition: 0.3s all;
    text-decoration: none;
    display: flex;
    padding: 20px;
}

.food-desc{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.food-desc h3{
  font-size: 30px;
    color: #000;
    font-weight: 700;
    margin-bottom: 0px;
}

.food-desc li, .food-desc p{
    font-size: 20px;
    color: #000;
    margin-bottom: 0px;
}


/*Tampilan Utama*/

.img-welcome{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4070f4;
  padding: 5px;
}

.header-welcome h1{
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 20.4px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.header-welcome h2{
  font-size: 110px;
  letter-spacing: -10.4px;
  color: #F0A500;
  text-decoration: none;
  text-align: center;
}

.body-tampilan-utama h4{
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 7.65px;
  color: #1E1E1E;
  text-decoration: none;
  text-align: center;
}

.location{
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location .lokasi {
  display: flex;
  width: 500px;
  font-size: 20px;
  font-weight: 700;
  color: #1E1E1E;
  text-decoration: none;
}

.location .p-tutorial {
  display: flex;
  flex-direction: row;
  width: 500px;
  text-decoration: none;
}

.location .text-tutorial,
.button-tutorial{
  font-size: 20px;
  font-weight: 700;
  color: #1E1E1E;
}

.location i{
  font-size: 30px;
  color: #1E1E1E;
  text-decoration: none;
  text-align: center;
  margin-right: 22px;
}

.button-full{
    background-color: #F0A500;
    border-radius: 20px;
    border: none;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 95%;
}

.button-full span{
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}

}

.detail-card{
  background-color: #FFFFFF;
  color: #1E1E1E;
}

.detail-header h2{
  font-size: 48px;
  font-weight: 700;
}

.detail-header h3{
  font-size: 24px;
  font-weight: 700;
}

.detail-desc{
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
}

/* rekomendasi-carousel */
.card {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 15px;
}

.carousel-inner {
  display: flex;
  margin-right: -24px;
}

.rekomendasi-slider {
  margin-right: -14px;
}

.carousel-item {
  margin-right: 0;
  flex: 0 0 50%;
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #fff;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin: 0 24px;
  top: 60%;
  transform: translateY(-50%);
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.catatan label{
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 500;
}

.catatan textarea{
    border: none;
    min-height: 25px;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px;
    border: 3px solid #DDDDDD;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.06);
}

/* button-tambah */
.button-nambah-kurang{
  background: #F0A500;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.button-nambah-kurang span{
  width: 100%;
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  cursor: pointer;
}
.button-nambah-kurang span.num{
  font-size: 50px;
  pointer-events: none;
}

.cart .btn-keranjang{
    background-color: #FF5858;
    color: #F6FBF4;
    border: 2px solid #FF5858;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all;
}

.cart .btn-keranjang:hover{
    background-color: #F6FBF4;
    color: #FF5858;
    border: 2px solid #FF5858;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all;
}

.cart .btn-secokeranjangnd:focus{
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.06);
}


/* pesanan-berlangsung */

.pesanan-berlangsung h1{
    font-size: 24px;
    font-weight: 700;
}

.button-pemesanan{
  font-size: 25px;
}