body {
  padding: 0px;
  font-family: poppins;
  margin: 0;
  max-width: 800px;
  margin: 0 auto;
}

.body-tampilan-utama{
  background-image: url("img/1\ Halaman\ -\ Buku\ Menu\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}

.container{
    background-color: #1E1E1E;
    min-height: 100%;
}

.p-500{
  padding-bottom: 50px;
}

a, h1, h2, h3, h4, h5, span{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
}

i{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
  font-size: 48px;
}

.meja p{
  font-size: 48px;
  margin: 0px;
}

.navbar-brand{
  font-size: 36px;
  font-weight: bold;
  color:#F0A500 !important; 
  text-decoration: none;
}



.nav-link{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
}

.btn-back{
  background-color: #F0A500;
  border-radius: 15px;
}

.meja{
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 20px;
}

.bx-history{
  color: #1E1E1E;
  text-decoration: none;
  font-weight: normal;
  font-size: 48px;
  margin-right: 15px;
}

.imgbanner{
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.cat-card{
    background-color: #DCDCDC;
    border-radius: 24px;
    border: none;
    transition: 0.3s all;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 11px;
    min-width: 10%;
}

.cat-card:hover{
    background-color: #F0A500;
    cursor: pointer;
    transition: 0.3s all;
    text-decoration: none;
}

.cat-card p{
    font-size: 20px;
    color: #000;
    font-weight: 700;
    margin-bottom: 0px;
}

.cat-card.active{
    background-color: #F0A500;
    cursor: pointer;
    transition: 0.3s all;
    text-decoration: none;
}

.menu-card{
    background-color: #DCDCDC;
    border-radius: 10px;
    border: none;
    transition: 0.3s all;
    text-decoration: none;
    display: flex;
    padding: 20px;
}

.food-desc{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.food-desc h3{
  font-size: 30px;
    color: #000;
    font-weight: 700;
    margin-bottom: 0px;
}

.food-desc li, .food-desc p{
    font-size: 20px;
    color: #000;
    margin-bottom: 0px;
}


/*Tampilan Utama*/

.img-welcome{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4070f4;
  padding: 5px;
}

.header-welcome h1{
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 20.4px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.header-welcome h2{
  font-size: 110px;
  letter-spacing: -10.4px;
  color: #F0A500;
  text-decoration: none;
  text-align: center;
}

.body-tampilan-utama h4{
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 7.65px;
  color: #1E1E1E;
  text-decoration: none;
  text-align: center;
}

.location{
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location .lokasi {
  display: flex;
  width: 500px;
  font-size: 20px;
  font-weight: 700;
  color: #1E1E1E;
  text-decoration: none;
}

.location .p-tutorial {
  display: flex;
  flex-direction: row;
  width: 500px;
  text-decoration: none;
}

.location .text-tutorial,
.button-tutorial{
  font-size: 20px;
  font-weight: 700;
  color: #1E1E1E;
}

.location i{
  font-size: 30px;
  color: #1E1E1E;
  text-decoration: none;
  text-align: center;
  margin-right: 22px;
}

.button-full{
    background-color: #F0A500;
    border-radius: 20px;
    border: none;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 95%;
}

.button-full span{
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}



.detail-card{
  background-color: #FFFFFF;
  color: #1E1E1E;
}

.detail-header h2{
  font-size: 48px;
  font-weight: 700;
}

.detail-header h3{
  font-size: 24px;
  font-weight: 700;
}

.detail-desc{
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
}

/* rekomendasi-carousel */
.card {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 15px;
}

.carousel-inner {
  display: flex;
  margin-right: -24px;
}

.rekomendasi-slider {
  margin-right: -14px;
}

.carousel-item {
  margin-right: 0;
  flex: 0 0 50%;
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #fff;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin: 0 24px;
  top: 60%;
  transform: translateY(-50%);
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.catatan label{
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 500;
}

.catatan textarea{
    border: none;
    min-height: 25px;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px;
    border: 3px solid #DDDDDD;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.06);
}

/* button-tambah */
.button-nambah-kurang{
  background: #F0A500;
  border-radius: 20px;
  box-shadow: none;
  flex-basis: 30%;
}
.button-nambah-kurang span{
  width: 100%;
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  cursor: pointer;
}
.button-nambah-kurang span.num{
  font-size: 50px;
  pointer-events: none;
}

.foto-rekomendasi {
  height: 170px;
  max-width: 130px;
  background-size: cover;
}

.cart {
  background-color: #F0A500;
  margin: 12px -12px;
  padding: 12px;
}

.cart .btn-keranjang{
    background-color: #FF5858;
    color: #F6FBF4;
    border: 2px solid #FF5858;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all;
    flex-basis: 70%;
}

.cart .btn-keranjang:hover{
    background-color: #F6FBF4;
    color: #FF5858;
    border: 2px solid #FF5858;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all;
}

.cart .btn-secokeranjangnd:focus{
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.06);
}


/* pesanan-berlangsung */

.pesanan-berlangsung h1{
    font-size: 24px;
    font-weight: 700;
}

.button-pemesanan{
  font-size: 25px;
}

.kupon{
  background-color: #F2CD5C;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kupon i{
  font-size: 40px;
  color: #F0A500;
  text-decoration: none;
}

.pembayaran{
  background-color: #FFF;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.e-wallet {
  margin-top: 10px;
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pesanan-berlangsung h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 0px;
}
.UK-Krenjang{
  font-size: 30px;
}
.opasity{
  opacity: 60%;
}
.food-header i{
  font-size: 30px;
}

.qris{
  width: 70px;
  margin-right: 10px;
}

.qris-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.qris-button h1{
  font-size: 40px;
  font-weight: 500;
  color: #1E1E1E;
  margin-bottom: 0;
}

.button-bayar{
  min-width: 100%;
  border-radius: 5px;
  font-size: 30px;
}

.ewallet-txt{
  font-size: 20px;
  font-weight: 500;
  color: #1E1E1E;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ewallet-txt h1{
  margin-bottom: 0;
}

.foto-rekomendasi2 {
  height: 278px;
  width: 990px;
  background-size: cover;
}

.manajer-card {
  background-color: #DCDCDC;
  border: none;
  transition: 0.3s all;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
}

.manajer-card:hover {
  background-color: #F0A500;
  cursor: pointer;
  transition: 0.3s all;
  text-decoration: none;
}

.manajer-card p {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin-bottom: 0px;
}

.manajer-card.active {
  background-color: #F0A500;
  cursor: pointer;
  transition: 0.3s all;
  text-decoration: none;
}

.manajer-menu-card-style {
  border: none;
  transition: 0.3s all;
  text-decoration: none;
  display: flex;
  padding: 20px;
}

.tersedia-card{
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  background-color: #D9D9D9;
  color: #000;
}

.manajer-headercard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0A500;
  margin: 0 -18px;
  font-size: 30px;
}

.food-manajer-header h3{
  font-size: 18px;
}

.food-manajer-header p {
  font-size: 14px;
}

.detail-laporan{
  background: #1E1E1E;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  color: #FFF;
  width: 25%;
  text-align: center;
  box-shadow: none
}

.table-header{
  background-color: #F0A500;
  font-size: 20px;
  color: #FFF;
  padding: 10px;
  margin: 0 1px;
}

.table-body {
  background-color: #D9D9D9;
  font-size: 16px;
  color: #000;
  padding: 10px;
  margin: 0 1px;
}

.total-penjualan{
  background-color: #F0A500;
  font-size: 20px;
  color: #FFF;
  padding: 10px;
  margin: 0 -16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.bg-orange{
  background-color: #F0A500;
}

.total-penjualan h3{
  font-size: 20px;
  color: #FFF;
  font-weight: 700;
  margin-bottom: 0;
}

.total-penjualan p {
  font-size: 16px;
  color: #FFF;
  font-weight: 500;
  margin-bottom: 0;
}

.total-penjualan h1 {
  font-size: 35px;
  color: #FFF;
  font-weight: 700;
  margin-bottom: 0;
}

.card-stock{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-penjualan{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bgcolor-yellow{
  background-color: #F0A500;
  margin: 0 -12px;
}

.bgcolor-yellow i,
a {
    color: #1E1E1E !important;
  font-weight: 700;
  margin-bottom: 0;
}

.kasir .card{
  border-radius: 5px;
  border: none;
  background-color: #D9D9D9;
  color: #1E1E1E;
  font-weight: 600;
  font-size: 40px;
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: 20%;
  text-align: center;
  transition: 0.3s all;

}

.kasir .card:hover{
  background-color: #44FB04;
  color: #1E1E1E;
  cursor: pointer;
  transition: 0.3s all;
}

.bgcolor-yellows {
  background-color: #F0A500;
  color: #FFF;
}

  #toggleButton {
    background-color: #44FB04;
  }

.foto-makanan{
  height: 100px;
  width: 100px;
  background-size: cover;
}

.foto-Syarat{
  height: 400px;
  width: 400px;
  background-size: cover;
}
.text-orange{
  color:#F0A500;
}

.proses-card{
  border-radius: 20px;
  border: none;
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 400;
  padding: 5px;
  text-align: center;
  width: 165px;
}

.service{
  font-size: 25px;
  display: flex;
  align-items: center;
}

.pop-up-keranjang{
  position: fixed;
  z-index: 1;
  margin-top: 640px;
}

.pop-up{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Pemesanan 3 */
.desc-pemesanan{
  min-width: 70%;
}

/* button-tambah */
.button-nambah-kurang-pemesanan {
  background: #F0A500;
  border-radius: 20px;
  padding: 5px;
  box-shadow: none;
  flex-basis: 30%;
}

.button-nambah-kurang-pemesanan span {
  width: 100%;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
}

.button-nambah-kurang-pemesanan span i{
  font-size: 40px !important;
}

.button-nambah-kurang-pemesanan span.num {
  font-size: 30px !important;
  pointer-events: none;
}


/* login */
.login .card {
  border-radius: 15px;
  border: none;
  background-color: #D9D9D9;
  color: #1E1E1E;
  font-weight: 600;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  transition: 0.3s all;
  cursor: pointer;
}

.login .card:hover {
  background-color: #F0A500;
  color: #1E1E1E;
  transition: 0.3s all;
  cursor: pointer;
}

.menu-card2{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    transition: 0.3s all;
    text-decoration: none;
    display: flex;
    padding: 20px;
}
.menu-card3{
    background-color: #F0A500;
    border-radius: 10px;
    border: none;
    transition: 0.3s all;
    text-decoration: none;
    display: flex;
    padding: 20px;
}